*{
    box-sizing: border-box;
    text-decoration: none;
}

:root {
  --base-color: #13293d;
  --background-color: #2eeed4;
} 

html {
    scroll-behavior: smooth;
}


body {
    color: var(--base-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: aquamarine;
}

 .scroll {
    display: inline;
    margin: 3vh;
    color: var(--background-color);
    border-bottom:  2px solid var(--background-color);
    font-size: larger;

 }

 header ul li {
     display: inline-flex;
 }
 

h1, h2{
    font-size: 35px;
    
}
header {
    background-color: var(--base-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

header img {
   max-width: 150px;
   height: 100%;
   position: absolute;
   margin-left: 0px;
   margin-top: 0px;
   margin-bottom: 0px;

}


.scroll:hover {
    cursor:pointer;
}


header h1 {
     padding: 5px 4px 5px 150px;
     background-color: var(--background-color);
     color: var(--base-color);
     margin-left: 0px;
}

nav{
    position: relative;
}

nav img {
    width: 100%;
    max-height: 25vh;
}
nav ul li {
    display: inline;
    margin: 3vh;
    color: var(--background-color);
    font-size: larger;
}

nav ul {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

    
h2 {

    padding: 5px 2px 5px 30px;
    width: 160px;
}
 p {
     margin-left: 10px;
     font-size: 20px;
   
 }

 .title {
     display: inline-flex;
 }


 .orientation{
     display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    
    
      
  }
.card1 img {
    width: 100%;
}

  .card img {
    width: 50%;
  }
 
  section ul li {
    display: inline;
    align-items: center;
    margin: 9vh;
    color: var(--base-color);
    border-bottom:  2px solid var(--base-color); 
    font-size: 30px;  
}
@media screen and (max-width: 992px) {
    .card1 img {
            width: 100%;}

    .card img {
            width: 50%;
          }
    header img {
            margin-bottom: 0px;
}
}
  
  
  @media screen and (max-width: 768px) {
     .card1 img {
            width: 100%;}
            
    .card img {
            width: 50%;
          }
    header img {
            margin-bottom: 0px;
  }
  
  
  @media screen and (max-width: 576px) {
    .card1 img {
        width: 100%;
      }
        
    .card img {
        width: 100%;
      }
    header img {
        margin-bottom: 0px;}
      }
      header ul li {
        flex-direction: column;
    }
    

    }
    
  